{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{poi.title}}
    </div>
      <div class="column">
    {{> poi-image }}
  </div>
    {{> list-reviews}}
    {{> add-review}}
  </div>
</section>