
  <form action="/dashboard/addpoi" method="POST">
    <div class="field">
      <label class="label">POI Name</label>
      <input class="input" type="text" placeholder="Enter POI title" name="title">
    </div>
    <div class="field">
      <label class="label">POI Description</label>
      <input class="input" type="text" placeholder="Enter POI description" name="description">
    </div>
    <div class="field">
      <label class="label">POI Longitude</label>
      <input class="input" type="number" step="0.0000001" placeholder="Enter POI longitude" name="longitude">
    </div>
    <div class="field">
      <label class="label">POI Latitude</label>
      <input class="input" type="number" step="0.0000001" placeholder="Enter POI latitude" name="latitude">
    </div>
    <button class="button is-link">Add POI</button>
  </form>
